# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env*.local

# build output
dist/

# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log
ui-debug.log

# typescript
*.tsbuildinfo

